.card {
  padding: 0px 10px;
}
.linha-form {
  display: flex;
  width: 50%;
}
.linha {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-between;
  width: 100%;

  .titulo {
    font-weight: bold;
  }
}
