<div class="card">
  <h5>Selecione os campos abaixo, para a listagem do distrito</h5>
  <br>
  <div class="linha-form">
    <select [formControl]="formGroup.get('estadoUf')" style="width: 100%; margin-right: 10px">
      <option value="">Selecione o estado</option>
      <option *ngFor="let estado of estados" value="{{estado.sigla}}">
        {{estado.nome}}
      </option>
    </select>

    <select [formControl]="formGroup.get('municipioId')" style="width: 100%">
      <option value="">Selecione o municipio</option>
      <option *ngFor="let municipio of municipios" value="{{municipio.id}}">
        {{municipio.nome}}
      </option>
    </select>
  </div>
</div>
<br>

<div class="card">
  <h5>Distritos do municipio selecionado</h5>
  <br>
  <div class="linha">
    <div class="titulo">Distrito</div>
    <div class="titulo">Municipio</div>
    <div class="titulo">Microrregião</div>
    <div class="titulo">Mesorregião</div>
  </div>
  <div class="linha" *ngFor="let distrito of distritos">
    <div>{{distrito.nome}}</div>
    <div>{{distrito.municipio?.nome}}</div>
    <div>{{distrito.municipio?.microrregiao?.nome}}</div>
    <div>{{distrito.municipio?.microrregiao?.mesorregiao?.nome}}</div>
  </div>
</div>
